* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url(milky-way.jpg);
    background-size: 100vw 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#quiz-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 400px;
}

h1 {
    text-align: center;
    font-size: 45px;
    margin-bottom: 20px;
}

.question {
    margin-bottom: 20px;
    font-size: 30px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

.choices label {
    margin-left: 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    color: #333;
    display: inline-block;
    margin-bottom: 10px;
}

#score-container {
    text-align: center;
    font-size: 35px;
}